.ethanet-switches{
    background: linear-gradient(#00000088, #00000088 ) , url("../Images/Web/ethanet.jpg");
    background-size: cover;
    background-position: center center;
}


.eth-02{
    height: 50vh;
    
}

.eth-02 .content{
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    gap: 30px;
}

.eth-02 .content .content-card{
    width: 35%;
    height: 200px;
    background-color:  rgb(216, 216, 216);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 20px;
    padding-left: 25px;
    border-radius: 10px;
}

.eth-02 .content .content-card:hover{
    background-color: rgb(196, 196, 196);
}


.eth-02 .content .content-card .icon{
    padding: 15px;
    background-color: rgb(187, 187, 187);
    border-radius: 100%;
}

.eth-02 .content .content-card .icon i{
    font-size: 40px !important;
    color: rgba(0, 0, 0, 0.788);
}

.eth-02 .content .content-card .contendiscription h3{
    padding-bottom: 10px;
    color: black;
    font-weight: 600;
}
.eth-02 .content .content-card .contendiscription p{
    font-size: small;
    color: rgba(0, 0, 0, 0.705);
    font-weight: 800;
}




/* css for products */
.products{
    
}




@media (max-width: 920px){
    .eth-02{
        height: auto !important;
    }

    .eth-02 .content{
        flex-direction: column;
        padding: 10px 50px;
    }

}