.ethanet-switches{
    background: linear-gradient(#00000088, #00000088 ) , url("../Images/Web/ethanet.jpg");
    background-size: cover;
    background-position: center center;
}






2













/* 
    responsive designs
*/
@media (max-width: 920px){

}