

.containers{
    h1{
        text-align: center;
    }
}




.rack-structure{
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;


    .rack-img{
        img{
            width: 550px;
            height: auto !important;
        }
    }

    .discription{
        padding: 40px;
        background-color: #aaaaaacc;
        h2{
            text-align: center;
            padding-bottom: 20px;
            color: #000000cc;
        }

        p{
            text-indent: 50px;
            padding-bottom: 15px;
            color: rgba(0, 0, 0, 0.575);
        }

        ul{
            padding-top: 20px;
            padding-left: 50px;
            display: flex;
            flex-direction: row;
            gap: 60px;
            list-style-type: decimal ;

            li{
                padding-bottom: 10px;

                a{
                    color: #0c0c0ccc;
                    text-decoration: none;
                }

                a:hover{
                    color: #ff0000cc;
                }
            }

            li::marker{
                color: #000000cc;;
            }
        }
    }
}