.loader{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    z-index: 100000000000000;
}

.loader .img{
   position: absolute;
    top: 0;
    left: 0;
    transform: translate(100% , 100%);
    margin-left: 450px;
}

main{
    height: auto;
}

.containers{
    
    width: 100%;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    padding: 30px 55px;
}

.overlay{
    color: #fff;
    padding: 40px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.overlay > .left{
    flex: 2;
}

.overlay > .left h1{
    font-size: 50px;
    color: #fff;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }
  }

.overlay > .left h4{
    font-size: 15px;
    font-weight: normal;
}

.overlay > .left p{
    font-size: 15px;
}

.overlay > .left a{
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-top: 120px;
    background-color: #ffffff27;
    border: 2px solid #fff;
    font-weight: bold;
}

.overlay > .left a:hover{
    transition: 1s;
    color: #ff000d;
    background-color: #ffffffd3;
}

.overlay > .right{
    flex: 1;
}

.overlay > .right > .round{
    width: 60px;
    height: 60px;
    background-color: #ffffff62;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #fff;
    margin-left: 50px;
    margin-top: 250px;
}

.overlay > .right > .round:hover{
    background-color: #ff000d;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

.overlay > .right > .round > i{
    color: #fff;
}





/* 
    section 2
*/

.section02{
    padding-top: 100px;
}

.section02 > .content{
 text-align: center;
}


.section02 > .content > h4{
    font-size: 15px;
    font-weight: normal;
}


.section02 > .content > h1{
    font-size: 30px;
    color: #1d1d1d;
    padding: 10px 100px;
}

.section02 >  .cards{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(4 , 270px);
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.section02 >  .cards > .item{
    padding: 20px 15px;
    text-align: center;
    border-bottom: 3px solid #777777ad;
}

.section02 >  .cards > .item > i{
    font-size: 45px;
    color: #292929b6;
}

.section02 >  .cards > .item > h1{
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    margin: 35px 0px 10px 0px;
}

.section02 >  .cards > .item > p{
    font-size: 12px;
    font-weight: bold;
    color: #2c2c2c;
    margin-bottom: 10px;
}

.section02 >  .cards > .item:hover{
    cursor: pointer;
    box-shadow: #4141413a 0px 2px 8px 0px;
}


.section02 >  .cards > .item:nth-child(1){
    transition-delay: 100ms;
}

.section02 >  .cards > .item:nth-child(2){
    transition-delay: 200ms;
}

.section02 >  .cards > .item:nth-child(3){
    transition-delay: 300ms;
}

.section02 >  .cards > .item:nth-child(4){
    transition-delay: 400ms;
}


/* top button */

.top{
    display: none;
    position: fixed;
    z-index: 100000;
    left:1%;
    top: 88%;
    padding: 12px 20px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}

.top>i:hover{
    color: #ff000d ;
}

/* 
section03
*/

.sec03{
   padding-top: 50px; 
}

.sec03 > .main-content{
    display: flex;
    gap: 70px;
    align-items: center;
}

.sec03 > .main-content > .sec03-left{
    flex: 1.5;
}

.sec03 > .main-content> .sec03-left > h2{
    font-size: 16px;
    font-weight: normal;
    color: #292929;
}

.sec03 > .main-content > .main-content > .sec03-left > h1{
    color: #1d1d1d;
}

.sec03 > .main-content > .sec03-left > p{
    font-size: 14px;
    color: #3a3a3a;
}

.sec03 > .main-content > .sec03-left > .counters{
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}


.sec03 > .main-content > .sec03-left > .counters > .con{
    text-align: center;
}

.sec03 > .main-content > .sec03-right{
    flex: 1.5;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.sec03 > .main-content > .sec03-right > .sec03-card{
    width: 350px;
    height: 300px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

.sec03  > .main-content > .sec03-right > .card01{
    background: linear-gradient(#000000b7 , #000000b7) , url(../Images/Web/mission.jpg) ;
    background-size: cover;
}

.sec03 > .main-content > .sec03-right > .card02{
    background: linear-gradient(#000000b7 , #000000b7) , url(../Images/Web/vision.jpg) ;
    background-size: cover;
}

.sec03 > .main-content > .sec03-right > .sec03-card > .content{
    text-align: center;
    padding-top: 25%;
}

.sec03 > .main-content > .sec03-right > .sec03-card > .content > h2{
    padding-bottom: 10px;
    font-size: 30px;
}

/* 
    section 04
*/

.sec04{
    height: auto;
    background: linear-gradient(#00000083 , #00000083) , url(../Images/Web/sec04.jpg);
    background-size: cover;
    color: #fff;
}

.sec04 > .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.sec04 > .content > .round{
    width: 60px;
    height: 60px;
    background-color: #ffffff62;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #fff;
    padding-left: 2px;
    margin-top: 50px;
}

.sec04 > .content > .round:hover{
    background-color: #ff000d;
    transition: 0.7s ease-in-out;
    cursor: pointer;
}

.sec04 > .content > .round > i{
    color: #fff;
}


.sec04 > .content > h1{
    padding: 10px 0;
    font-size: 30px;
    font-weight: bold;
}

.sec04 > .content > h2{
    padding: 0px 0px 20px 0px;
    font-weight: normal;
}

.sec04 > .content > h4 {
    padding-bottom: 30px;
    font-weight: normal;
    color: #fff;
}

.sec04 > .content > button {
    margin-bottom: 40px;
    padding: 10px 25px;
    background: transparent;
    color: #fff;
    border: 2px solid #ff000d;
    cursor: pointer;
    border-radius: 5px;
}

.sec04 > .content > button:hover {
    background-color: #ff000d;
    color: #fff;
}


.sec04 > .content > .why-should  > .benifites{
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
    section 05
*/

.sec05{
    text-align: center;
    padding: 60px 25px;
    height: auto;
}


.sec05 > .news{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(4 , 280px);
    justify-content: space-between;
    text-align: left;
}

.sec05 > .news > .card {
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 2px solid #1d1d1d;
}

.sec05 > .news > .card > img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.sec05 > .news > .card > h4 {
    color: #414141;
    text-transform: uppercase;
    font-size: small;
    padding: 20px 0px 10px 0px;
}


.sec05 > .news > .card > h1{
    font-size: large;
    padding: 0px 0px 20px 0px;
}


.sec05 > .news > .card > p{
    color: #414141;
    padding: 0px 0px 10px 0px;
}

/* 
    footer
*/

footer{
    width: 100%;
    height: 70vh;
    background-color: #1d1d1d;
    padding: 40px 60px 20px 60px;
    color: #ffffffdc;
}

footer > .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
    responsive
*/

@media (max-width: 920px){

    .overlay > .right{
        display: none;
    }

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .containers{
        height: auto;
        padding: 35px 25px;
    }
    .overlay{

        height: 100vh;
        padding-top: 180px;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .overlay > .left h1{
        font-size: 60px;
    }
    
    .overlay > .left h4{
        font-size: 18px;
        font-weight: normal;
    }
    
    .overlay > .left p{
        font-size: 12px;
    }

    .overlay > .right > .round{
        margin-left: 0px;
        margin-top: 30px;
    }

    /* 
    section02 */

    .section02 > .content > h4{
        font-size: 15px;
        font-weight: normal;
    }
    
    
    .section02 > .content > h1{
        font-size: 25px;
        color: #1d1d1d;
        padding: 10px 0px;
    }

    .section02 >  .cards{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
    
    .top{
        left: 2%;
        top: 92%;
    }

    .loader{
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: #fff;
        z-index: 100000000000000;
    }

    /* pre loader */
    .loader .img{
        position: absolute;
        margin-top: 70px;
        margin-left: -20px;
    }

    /* section03 */

    .sec03{
        width: 100%;
        height: auto;
    }

    .sec03 > .main-content{
        flex-direction: column;
    }

    .sec03 > .main-content > .sec03-right{
        flex-direction: column;
    }

    .sec03 > .main-content > .sec03-left{
        width: 300px;
    }

    .sec03 > .main-content > .sec03-right > .sec03-card{
        width: 300px;
        height: 250px;
    }

    /* 
        section4 
    */
    .sec04{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .sec04 > .content > h1{
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
    }
    
    .sec04 > .content > h2{
        padding: 0px 0px 20px 0px;
        font-size: 16px;
        font-weight: normal;
    }
    
    .sec04 > .content > h4 {
        padding-bottom: 30px;
        font-size: 14px;
        font-weight: normal;
        color: #fff;
    }
    
    /*  section 05 */

    .sec05 > .news{
        display: grid;
        grid-template-columns: repeat(1 , 270px);
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .sec05 > .news > .card > img{
        height: 150px;
    }
}